<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <menuitem 
            name="Fonality"
            id="menu_fonality"
            parent="base.menu_config"
            />
            <menuitem 
                name="Configuration"
                id="menu_config_fonality"
                parent="menu_fonality"
                action="fonality_config_action"
                />
            <menuitem 
                name="Test Call"
                id="menu_test_call_fonality"
                parent="menu_fonality"
                action="fonality_test_call_action"
                />
        <menuitem
                name="History Call"
                id="menu_history_call_fonality"
                parent="menu_fonality"
                action="action_call_history_tree"
                />
    </data>
</openerp>
